<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homework</title>
  <link rel="stylesheet" type="text/css" href="src/css/main.css">
  <script src="src/js/index.js"></script>
  <script src="src/js/view/loadingView.js"></script>
  <script src="src/js/view/mainView.js"></script>
  <script src="src/js/view/tableView.js"></script>
  <script src="src/js/view/topView.js"></script>
  <script src="src/js/manager/layerManager.js"></script>
  <script>
    window.addEventListener('load', function () {
      skt.init();
    });
  </script>
</head>
<body>
</body>
</html>
